html, body {
    max-width: 100%;
    overflow-x: hidden;
	background-color: #D8BFD8;
}

.back{
    width: 100px;
    height: 50px;
    margin-top: 25px;
    background-color:#452c63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
	font-family:Garamond,"Times New Roman", serif;
	color: white;
	font-size: 15px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.reset{
    width: 100px;
    height: 50px;
    margin-top: 25px;
    background-color: #452c63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-family:Garamond,"Times New Roman", serif;
	color: white;
	font-size: 15px;
	box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    
}

.reset:hover {
  background-color: #DDA0DD; /* Green */
  color: white;
}
.back:hover {
  background-color: #DDA0DD; /* Green */
  color: white;
}  
.actionBtns{
    margin-bottom: 200px;
    display: none;
    justify-content: center;
}
.plan{
    margin: 50px;
    padding: 50px;
    top: 50px;
}

.input-section {
    margin-top: 150px;
	margin-left: 400px;
	width: 500px;
    border: 1px solid #dcdcdc;
    border-top: 1px solid #c5c4c4;
    border-left: 1px solid #c5c4c4;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
	background-color:#E6E6FA;
	font-family:Garamond,"Times New Roman", serif;
	
}

.lbl {
    padding: 10px;
    width: 10px;
    height: 30px;
    font-size: larger;
}

::placeholder {
    text-align: center;
}

.input {
    height: 25px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
	font-family:Garamond,"Times New Roman", serif;
}

.generateBtn {
    color: white;
    width: 150px;
    background: #452c63;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-size: larger;
	font-family:Garamond,"Times New Roman", serif;
}

.generateBtn:hover {
  background-color: #DDA0DD; /* Green */
  color: white;
} 



.lift {
    width: 50px;
    height: 100px;
    background-color: gray;
    margin-left: 80px;
    /*margin-bottom: 150px;*/
    position: relative;
    top: 0px;
    transition: top ease-in-out;
    display: flex;
    flex-direction: row;
    
  }
  
  .left{
    width: 25px;
    height: 100px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 0px;
    /*height: 100px;
    background-color: black;
    
    position: relative;
    left: 80px;
    transition: left ease-in-out;*/
  }
  
  .right{
    width: 25px;
    height: 100px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 0px;
    /*margin-left: 105px;
    /*height: 100px;
    
    
    position: relative;
    left: 105px;
    transition: left ease-in-out;*/
  }
  
  
  .liftWrapper {
    display: flex;
    flex-direction: row;
    align-items: auto;
    position: relative;
    top: -50px;
    
  }
  
  
  .btns {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 90px;
  }

  .upDown{
    display: flex;
    flex-direction: column;
  }
  
  
  .up {
    width: 50px;
    height: 25px;
    margin-top: 25px;
    background-color: green;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .down {
    width: 50px;
    height: 25px;
    margin-top: 5px;
    background-color: red;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }

.up:hover {
  background-color: #006400; /* Green */
  color: white;
} 

.down:hover {
  background-color:#8B0000; /* Green */
  color: white;
}  
  .floor {
    width: 100%;
    height: 5px;
    background-color: #555;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    
  }

  .floorWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
  }


  @media screen and (max-width: 425px) {
    .lift { 
        height: 60px;
        width: 30px;  

    }

    .lift_left,
    .lift_right {
        width: 20px;
    }

    .btn_lift_up,
    .btn_lift_down {
        width: 40px;
        height: 15px;
        font-size: 11px;
    }

    .floorText {
        font-size: 13px;
    }

}
  