.back{
    margin-bottom: 200px;
}
.plan{
    margin: 50px;
    padding: 50px;
    top: 50px;
}

.lift {
    width: 50px;
    height: 100px;
    background-color: gray;
    margin-left: 80px;
    /*margin-bottom: 150px;*/
    position: relative;
    top: 0px;
    transition: top ease-in-out;
    display: flex;
    flex-direction: row;
    
  }
  
  .left{
    width: 25px;
    height: 100px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 0px;
    /*height: 100px;
    background-color: black;
    
    position: relative;
    left: 80px;
    transition: left ease-in-out;*/
  }
  
  .right{
    width: 25px;
    height: 100px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 0px;
    /*margin-left: 105px;
    /*height: 100px;
    
    
    position: relative;
    left: 105px;
    transition: left ease-in-out;*/
  }
  
  
  .sys {
    display: flex;
    flex-direction: row;
    align-items: auto;
    position: relative;
    top: -50px;
    
  }
  
  
  .btns {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 90px;
  }

  .upDown{
    display: flex;
    flex-direction: column;
  }
  
  
  .up {
    width: 50px;
    height: 25px;
    margin-top: 25px;
    background-color: green;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .down {
    width: 50px;
    height: 25px;
    margin-top: 5px;
    background-color: red;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .floor {
    width: 100%;
    height: 5px;
    background-color: #555;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    
  }

  .floorWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
  }
  